@model IEnumerable<WebAppExample.Models.Currency>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>View</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")

</p>*@
<p>
    <a href="/Home/Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @*@RenderSection("_partial");*@
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Fake Edit", "Edit", new { item.Id }) |
            @Html.ActionLink("Edit", "Edit", new { item.Code }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
